* {
    box-sizing: border-box;
}

body {
    background: turquoise;
    color: orange;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
}

body#page_about_me {

}

body#page_about_rainforests {
    background: green;
}

div.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

div.row > div {
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
}

div.row.images {
    flex-wrap: wrap;
}

div.row.images img {
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 50%;
    padding: 10px;
    display: inline-block;
}

h1 {
    color: green;
    margin-top: 0;
    margin-bottom: 10px;
}

body#page_about_rainforests h1 {
    text-align: center;
    color:brown;
}

p {
    background: white;
    padding: 10px;
    margin-top: 0;
    display: inline-block;
}

.about-me p {
    background: white;
}

.about-rainforest p {
    background: transparent;
    color: green;
}

body#page_about_rainforests p {

}

body#page_about_rainforests .about-rainforest p {
    color:black;
    font-size: 1.5em;
}